#keyboard_canvas_wrapper{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    width: 100%;
    transition: var(--music-mode-transition) transform;
}

#keyboard_canvas_wrapper.out_animation{
    transform: translateX(-100%);
}

#keyboard_canvas_wrapper.upwards{
    flex-direction: column-reverse;
}

#keyboard_canvas_wrapper.right_to_left{
    flex-direction: row;
}

#keyboard_canvas_wrapper.left_to_right{
    flex-direction: row-reverse;
}