#keyboard_selector{
    flex: 1;
}

#keyboard_selector select option
{
    background-color: var(--top-color);
    text-align: center;
    line-height: 50px;
}

#keyboard_selector select
{
    font-size: 20px;
    display: block;
    border: none;
    background: var(--top-color);
    text-align: center;
    margin: auto;
}

.kebui_button
{
    background: #000;
    border: 1px #333 solid;
    min-height: 2em;
    border-radius: 5px;
    font-size: 16px;
    display: block;
    white-space: nowrap;
    color: var(--font-color);
    margin: auto;
}

.kebui_button:hover
{
    cursor: pointer;
    background: #111;
    color: #fff;
    text-shadow: 0 0 5px white;
}
