#keyboard_selector select option
{
    background-color: var(--top-color);
    text-align: center;
    line-height: 50px;
}

#keyboard_selector select
{
    font-size: 20px;
    display: block;
    border: none;
    background: var(--top-color);
    text-align: center;
    margin: auto;
}

.kebui_button
{
    font-size: 20px;
    background: var(--top-color);
    margin: auto;
}

.kebui_button:hover
{
    cursor: pointer;
    text-shadow: 0 0 5px white;
}
