#keyboard_selector{
    flex: 1;
}

#keyboard_selector select option
{
    background-color: var(--top-color);
    text-align: center;
    line-height: 50px;
}

#keyboard_selector select
{
    font-size: 20px;
    display: block;
    border: none;
    background: var(--top-color);
    text-align: center;
    margin: auto;
}