#player_info
{
    width: 100%;
    display: none;
    flex: 1;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: var(--music-mode-transition) transform;
}

#player_info_background_image{
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(10px);
    --bg-image: "undefined";
    background-image: var(--bg-image);
    z-index: -100;
    left: 0;
}

.player_info_note_icon img{
    max-width: 20rem;
    margin: 1rem;
    border-radius: 1rem;
}

.player_info_wrapper{
    display: flex;
    border: #333 solid 1px;
    border-radius: 15px;
    padding: 10px;
    align-items: center;
    max-width: 90%;
    backdrop-filter: brightness(0.4) blur(50px);
}

#player_info_detail{
    white-space: preserve;
}

.player_info_details{
    max-width: 80%;
}

.player_info_wrapper *{
    text-align: left;
    overflow-wrap: anywhere;
}

.player_info_show{
    transform: translateX(0%) !important;
}