#player_info
{
    width: 100%;
    display: none;
    flex: 1;
    align-items: center;
    justify-content: center;
    transform: translateX(100%);
    transition: var(--music-mode-transition) transform;
}

#player_info_background_image{
    width: 100%;
    height: 100%;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(1rem);
    --bg-image: "undefined";
    background-image: var(--bg-image);
    z-index: -100;
    left: 0;
}

.player_info_note_icon img{
    max-width: 100%;
    border-radius: 1rem;
    width: 20rem;
}

.player_info_wrapper{
    display: flex;
    border-radius: 1rem;
    align-items: center;
    max-width: 90%;
    backdrop-filter: brightness(0.3) blur(50px);
    flex-wrap: wrap;
    justify-content: center;
}

.player_info_wrapper.light_mode{
    backdrop-filter: brightness(1.8) blur(50px) !important;
}

.player_info_note_icon {
    margin: 1rem;
}

#player_info_detail{
    white-space: preserve;
}

.player_info_detail_element{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.player_info_detail_element * {
    display: inline-block;
}

.player_info_detail_element b{
    margin-right: 1ch;
}

.player_info_detail_element.hidden{
    display: none;
}

.player_info_details_wrapper{
    max-width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.marquee {
    overflow: hidden;
    max-width: 30ch;
    white-space: nowrap;
}

.marquee span{
    white-space: nowrap;
    padding-left: 100%;
    animation: 15s linear infinite marquee;
}

@keyframes marquee {
    0% {
        transform: translateX(0);
    }
    100%{
        transform: translateX(-100%);
    }
}

.player_info_wrapper *{
    text-align: center;
}

.player_info_show{
    transform: translateX(0%) !important;
}