#note_canvas {
    width: 100%;
    filter: saturate(1.23);
    flex: 1;
    min-height: 0;
    z-index: 1;
    --opacity: 0.8;
    position: relative;
    background-size: auto, cover;
    background-position:
        0 0,
        center;
}

#note_canvas.sideways {
    height: 100% !important;
    min-height: unset !important;
    width: 0 !important; /*Chromium sideways layout fix*/
}

#note_canvas.light_mode {
    --opacity: 0 !important;
    background-image: linear-gradient(
        45deg,
        var(--top-buttons-color-start),
        var(--top-buttons-color-end)
    );
}
