.seamless_button{
    font-size: larger;
    background: transparent;
    margin: auto;
    border: none;
    user-select: none;
}

.settings_button
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.settings_button span{
    text-align: end;
    font-size: larger;
}

.seamless_button:hover
{
    cursor: pointer;
    text-shadow: 0 0 5px white;
}


.gear {
    transition: all 0.3s ease;
    padding: 5px;
    align-content: center;
    display: flex;
}

.settings_button:hover .gear{
    transform: rotate(45deg);
}

.settings_menu{
    position: absolute;
    overflow: scroll;
    top: 100%;
    right: 0;
    min-width: 30%;
    max-width: 100%;
    min-height: 100%;
    z-index: 256;
    display: block;
    opacity: 0;
    backdrop-filter: blur(2px) brightness(0.5);
    background: rgba(3, 3, 3, 0.8);
    transition: opacity 100ms ease-in-out;
    scroll-behavior: smooth;
    overflow-y: auto;
    visibility: hidden;
    border-radius: 10px;
}

.settings_menu_light{
    backdrop-filter: blur(2px) brightness(1.5);
    background: linear-gradient(45deg, rgba(230, 230, 230, 0.8), rgba(255, 255, 255, 0.8));
}

.settings_menu_show{
    visibility: visible !important;
    opacity: 1 !important;
}

.settings_slider {
    height: 31px;
    -webkit-appearance: none;
    margin: 0 0 10px 0;
    background: transparent;
    flex-grow: 1;
}
.settings_slider:focus {
    outline: none;
}

.settings_slider::-webkit-slider-runnable-track {
    height: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000;
    background: #510087;
    border-radius: 5px;
    border: 1px solid #000000;
}
.settings_slider::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 0 solid #000000;
    height: 24px;
    width: 16px;
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.5px;
    background: white;
}
.settings_slider:focus::-webkit-slider-runnable-track {
    background: #510087;
}
.settings_slider::-moz-range-track {
    height: 10px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000;
    background: #510087;
    border-radius: 5px;
    border: 1px solid #000000;
}
.settings_slider::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000;
    border: 0 solid #000000;
    height: 24px;
    width: 16px;
    border-radius: 50px;
    cursor: pointer;
}

.settings_slider + span{
    margin-bottom: 10px;
    margin-left: 5px;
}

.settings_menu select{
    background: transparent;
    border: none;
    font-size: larger;
}

.settings_menu select:hover{
    cursor: pointer;
    text-shadow: 0 0 5px white;
}

.settings_groups_parent{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.settings_group{
    border-radius: 10px;
    border: solid #333 1px;
    margin: 1em;
    padding: 1em;
}