@import "settings.css";
@import "keyboard.css";
@import "sequencer_ui.css";
@import "music_mode_ui.css";
@import "synthesizer_ui/synthesizer_ui.css";
@import "soundfont_mixer.css";

* {
    --font-color: #ccc;
    --top-buttons-color: linear-gradient(201deg, #222, #333);
    font-family: "Noto Sans Light", "Open Sans Light", sans-serif;
    color: var(--font-color);
    text-align: center;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
    background: black;
    overflow-x: clip;
}

.spessasynth_main{
    display: flex;
    flex-direction: column;
    height: 99%; /*i cant believe i have to do this crap*/
}

a{
    text-decoration: none;
    color: #546fff;
}

::-webkit-scrollbar{
    background-color: #000;
    width: 0.3em;
}

::-webkit-scrollbar-thumb{
    background-color: #777;
    border-radius: 50px;
}


/*Top*/
.top_part
{
    --top-color: linear-gradient(31deg, #101010, #212121);
    position: relative;
    background: var(--top-color);
    border-radius: 0 0 15px 15px;
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    z-index: 50;
}

.top_part_light{
    --top-color: linear-gradient(20deg, #bbb, #ddd) !important;
}

input[type="file"] {
    display: none;
}

#title
{
    position: relative;
    z-index: 1;
    margin: 0.2em auto;
    display: block;
    line-height: 100%;
    font-weight: lighter;
    font-size: 2.1em;
    text-shadow: 0 0 5px var(--font-color);
}

#progress_bar
{
    background: #206;
    display: block;
    position: absolute;
    width: 0;
    height: 2.1em;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.4em;
    padding-top: 5px;
    padding-bottom: 5px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    transition: width ease 0.5s;
}

.midi_and_sf_controller {
    position: relative;
    display: flex;
    width: fit-content;
    margin: auto auto 5px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.midi_and_sf_controller label
{
    padding: 6px;
    border-radius: 5px;
    cursor: pointer;
    background: var(--top-buttons-color);
    font-weight: bolder;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sf_selector option
{
    background: #000;
    text-align: center;
}

#sf_selector
{
    display: block;
    border: none;
    font-size: 15px;
    background: var(--top-buttons-color);
    text-align: center;
    margin: 5px;
    padding: 6px;
    border-radius: 5px;
    font-weight: bolder;
}

.show_top_button{
    background: var(--top-buttons-color);
    width: fit-content;
    padding: 0.1em 2em;
    border-radius: 0.5em;
    margin: auto;
    display: none;
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
}

.show_top_button:hover{
    cursor: pointer;
}

.show_top_button.shown{
    display: flex !important;
}

/*Center*/
#note_canvas
{
    width: 100%;
    display: block;
    filter: saturate(1.23);
    flex: 1;
    background-size: cover;
    height: 1px; /*I have absolutely no idea how this works but whatever ¯\_(ツ)_/¯*/
    z-index: 1;
}

#note_canvas.light_mode{
    background: linear-gradient(45deg, #ccc, #fff);
}

/*Bottom*/

.bottom_part{
    margin-top: 5px;
}

button{
    user-select: none;
}

.hidden{
    display: none !important;
}

.secret_video{
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 0;
}

.loading {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999999;
    left: 0;
    background: linear-gradient(31deg, #101010, #212121);
    transition: opacity 0.1s ease-in-out;
}

.loading svg {
    margin: 3em;
    animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% {transform: rotate(360deg); }
}