@import "settings/settings.css";
@import "keyboard/keyboard.css";
/*DO NOT CHANGE POSITION OF THIS IMPORT*/
@import "sequencer_ui.css";
@import "music_mode_ui.css";
@import "synthesizer_ui/synthesizer_ui.css";
@import "soundfont_mixer.css";
@import "notification/notification.css";
@import "note_canvas.css";
@import "top_part.css";
@import "keyboard_canvas_wrapper.css";

* {
    /*global variables*/
    --top-buttons-color-start: #222;
    --top-buttons-color-end: #333;
    --top-buttons-color: linear-gradient(201deg, var(--top-buttons-color-start), var(--top-buttons-color-end));

    --hide-top-duration: 0.2s;

    --font-color: #ccc;
    --top-index: 32767;

    --top-color-start: #101010;
    --top-color-end: #212121;
    --top-color: linear-gradient(31deg, var(--top-color-start), var(--top-color-end));

    --primary-border-radius: 0.5rem;
    --active-scale: 0.9;

    /*thanks for this bezier mozilla devtools*/
    --bouncy-transition: cubic-bezier(.68, -0.55, .27, 1.55);

    --music-mode-transition: 0.5s ease;

    /*global styles*/
    font-family: system-ui, "Noto Sans", "Open Sans", sans-serif;
    color: var(--font-color);
    text-align: center;
    margin: 0;
    box-sizing: border-box;
}

pre {
    font-family: monospace !important;
}

html, body {
    height: 100lvh;
    width: 100%;
    background: black;
    overflow-x: clip;
    scrollbar-width: thin;
}

body.load {
    transition: background 0.2s;
}

body.no_scroll,
html.no_scroll {
    max-height: 100% !important;
    height: 100% !important;
    overflow: hidden !important;
}

.spessasynth_main {
    display: flex;
    flex-direction: column;
    height: 100%;

    /* theme colors */
    --primary-color: #510087;
    --border-color: #6e00b7;
    --track-color: #333;
    --track-border-color: #444;
    --shadow-color: #000;
}

.spessasynth_main.light_mode {
    --primary-color: #a93bff;
    --border-color: #510087;
    --track-color: #ccc;
    --track-border-color: #444;
    --shadow-color: #fff;
}

a {
    text-decoration: none;
    color: #546fff;
}

::-webkit-scrollbar {
    background-color: #000;
    width: 0.3em;
}

::-webkit-scrollbar-thumb {
    background-color: #777;
    border-radius: 50px;
}

/*Bottom*/

.bottom_part {
    margin-top: 5px;
}

button {
    -webkit-user-select: none;
    user-select: none;
}

.hidden {
    display: none !important;
}

.secret_video {
    position: absolute;
    width: 100%;
    left: 0;
    z-index: 0;
}

.drop_prompt {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: var(--top-index);
    background: rgba(0, 0, 0, 0.6);
}

.loading {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: var(--top-index);
    left: 0;
    background: var(--top-color);
    transition: all 1s var(--bouncy-transition);
    cursor: wait;
}

.loading .loading_icon {
    max-width: 100%;
    max-height: 100%;
    margin: 1em;
    animation: spin 1s ease-in-out infinite;
}

.loading.done {
    transform: translateY(-100%);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}