#synthetizer_controls
{
    --voice-meter-height: 2.5em;
    flex: 1;
}

.wrapper{
    height: 80%;
    padding: 2%;
}

.controls_wrapper{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
}

.controller_element
{
    position: relative;
    height: var(--voice-meter-height);
    flex: 1;
    border-radius: 5px;
    margin: 2px;
}

.voice_meter{
    cursor: not-allowed;
    border: solid 1px rgba(1, 1, 1, 0.5);
    min-width: 7em;
}

.voice_meter.editable{
    cursor: col-resize;
}

.voice_meter .voice_meter_bar{
    position: relative;
    display: block;
    height: 100%;
    border-radius: 3px;
    margin-top: auto;
    background-color: #406;
}

.voice_meter_bar_smooth{
    transition: width ease-in-out 100ms;
}

.voice_meter .voice_meter_text{
    position: absolute;
    z-index: 1;
    height: var(--voice-meter-height);
    line-height: var(--voice-meter-height);
    top: 0;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
    user-select: none;
    white-space: nowrap;
}

.synthui_controller{
    left: 0;
    display: none;
    position: absolute;
    backdrop-filter: blur(2px) brightness(0.5);
    background-color: rgba(3, 3, 3, 0.3);
    top: 100%;
    border-radius: 15px;
    width: 100%;
    z-index: 127;
}

.synthui_controller_show{
    display: block !important;
}

.channel_controller{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

.voice_selector{
    border: #777 1px solid;
    line-height: var(--voice-meter-height);
    background-color: rgba(1, 1, 1, 0.5);
    font-size: 16px;
    font-weight: bold;
    min-width: 8em;
}

.voice_selector .selector_option{
    padding: 5px;
    background-color: #111;
    text-align: left;
}

.voice_selector optgroup{
    font-weight: bolder;
    background-color: #141414;
    text-align: left;
}

.voice_selector .selector_option:hover
{
    background-color: #222;
    cursor: pointer;

}

.selector_options:hover{
    display: block;
}

.mute_button
{
    flex: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border: #777 1px solid;
    min-width: var(--voice-meter-height);
}

.mute_button:hover{
    cursor: pointer;

}

.voice_reset{
    flex: 0;
    min-width: 0;
    display: flex;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    border: #777 1px solid;
    transition: min-width 50ms ease;
}

.voice_reset:hover{
    visibility: visible;
    min-width: var(--voice-meter-height);
    cursor: pointer;
}

.locked_selector{
    color: red;
}

.locked_selector:hover + .voice_reset{
    visibility: visible;
    min-width: var(--voice-meter-height);
}

.synthui_button
{
    background: #000;
    border: 1px #333 solid;
    margin: 2px;
    border-radius: 5px;
    font-size: 16px;
    display: block;
    min-height: var(--voice-meter-height);
    white-space: nowrap;
    color: var(--font-color);
}
.synthui_button:hover
{
    cursor: pointer;
    background: #111;
    color: #fff;
    text-shadow: 0 0 5px white;
}
