/*Top*/
.top_part {
    --top-part-border-radius: 1.5rem;
    position: relative;
    background: var(--top-color);
    border-radius: 0 0 var(--top-part-border-radius)
        var(--top-part-border-radius);
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    justify-content: space-around;
    align-items: center;
    z-index: 50;
    transform-origin: top;
    transform: scaleY(1);
    transition: var(--hide-top-duration) ease;
}

.top_part * {
    user-select: none;
    -webkit-user-select: none;
}

.top_part_hidden {
    position: fixed;
    width: 100%;
    transform: scaleY(0);
}

.top_part.settings_shown {
    border-radius: 0 0 0 var(--top-part-border-radius);
}

.top_part.synthui_shown {
    border-radius: 0;
}

input[type="file"] {
    display: none;
}

#title.sysex_display {
    font-family: monospace;
    font-style: normal !important;
}

#title.xg_sysex_display {
    max-width: 16ch !important;
    word-break: break-all;
    text-align: start !important;
    white-space: pre-wrap !important;
}

#title {
    user-select: text;
    position: relative;
    z-index: 1;
    margin: 0.2em auto;
    display: block;
    line-height: 100%;
    font-weight: normal;
    text-shadow: 0 0 5px var(--font-color);
    font-size: 2rem;
}

#progress_bar {
    background: #206;
    display: block;
    position: absolute;
    width: 0;
    height: 2.1em;
    border-radius: var(--primary-border-radius);
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.4em;
    padding-top: 5px;
    padding-bottom: 5px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    transition: width ease 0.5s;
}

.midi_and_sf_controller {
    position: relative;
    display: flex;
    width: fit-content;
    margin: auto auto 5px;
    flex-wrap: wrap;
    justify-content: space-around;
}

.midi_and_sf_controller label,
.general_button {
    padding: 6px;
    border-radius: var(--primary-border-radius);
    cursor: pointer;
    background: var(--top-buttons-color);
    font-weight: bolder;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.1s ease;
    border: none;
}

.link a {
    color: yellowgreen;
}

.midi_and_sf_controller label:active,
.general_button:active {
    filter: brightness(0.9);
    transform: scale(var(--active-scale));
}

#sf_selector option {
    background: #000;
    text-align: center;
}

#sf_selector {
    display: block;
    border: none;
    font-size: 1em;
    background: var(--top-buttons-color);
    text-align: center;
    margin: 5px;
    padding: 6px;
    border-radius: var(--primary-border-radius);
    font-weight: bolder;
}

.show_top_button {
    background: var(--top-buttons-color);
    width: fit-content;
    padding: 0.1em 2em;
    border-radius: 0 0 var(--primary-border-radius) var(--primary-border-radius);
    transition: all calc(var(--hide-top-duration) * 2) var(--bouncy-transition);
    transition-delay: calc(var(--hide-top-duration) / 2);
    transform-origin: top;
    margin: auto;
    display: none;
    opacity: 0;
    position: absolute;
    z-index: 100;
    left: 0;
    right: 0;
    cursor: pointer;
}

.show_top_button:hover {
    filter: brightness(1.1);
    transform: scaleY(1.3);
}

.show_top_button.shown {
    opacity: 1;
}
