.voice_selector {
    border: #777 1px solid;
    line-height: var(--voice-meter-height);
    background: var(--synthui-background);
    font-size: 1em;
    font-weight: bold;
    min-width: 8em;
    text-align-last: center;
    white-space: nowrap;
    overflow: hidden;
}

.voice_selector_light {
    border: #111 1px solid;
    background: linear-gradient(170deg, #bbb, #fff);
    color: black;
}

.voice_selector:hover {
    cursor: pointer;
    background: #111;
    color: #fff;
    text-shadow: 0 0 5px white;
}

.voice_selector_light:hover {
    background: #fff;
    color: #444;
}

.selector_options:hover {
    display: block;
}

.locked_selector {
    color: red;
}

.voice_reset {
    min-width: var(--voice-meter-height);
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #333;
    background: var(--top-color);
    padding: var(--primary-border-radius);
    border-radius: var(--primary-border-radius);
    margin: .1rem;
    transition: min-width 50ms ease;
    cursor: pointer;
}

.voice_reset:active {
    filter: brightness(0.8);
    transform: scale(var(--active-scale));
}

.voice_reset:hover svg {
    transform: scale(1.1) rotate(5deg);
}

.voice_reset_light * {
    color: black;
}

.voice_selector_wrapper {
    position: fixed;
    z-index: calc(var(--top-index) - 20);
    backdrop-filter: brightness(0.9) blur(2px);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

.voice_selector_window {
    padding: 1rem;
    border-radius: var(--primary-border-radius);
    background: var(--top-color);
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    max-width: 90%;
    max-height: 90%;
}

.voice_selector_search_wrapper {
    display: flex;
    margin: 1rem;
}

.voice_selector_window input {
    border: solid 1px #333;
    font-size: 1rem;
    margin: .1rem;
    padding: var(--primary-border-radius);
    border-radius: var(--primary-border-radius);
    background: var(--top-color);
    color: var(--font-color);
    flex: 1;
}

.voice_selector_table_wrapper {
    max-height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 1rem;
}

.voice_selector_table {
    width: 100%;
    font-size: 1.1rem;
    padding: .5rem;
    border-collapse: collapse;
}


.voice_selector_table th {
    filter: none !important;
    text-align: start;
    line-height: 2rem;
}

.voice_selector_preset_name {
    text-align: end;
    display: block;
}

.voice_selector_table tr {
    transition: all 50ms ease;
    border-radius: var(--primary-border-radius);
}

.voice_selector_table tr:has(td:hover) {
    background: var(--primary-color);
    cursor: pointer;
}

.voice_selector_selected {
    background: var(--border-color) !important;
}