.voice_meter{
    cursor: not-allowed;
    border: solid 1px rgba(1, 1, 1, 0.5);
    min-width: 7em;
}

.voice_meter.editable{
    cursor: col-resize;
}

.voice_meter .voice_meter_bar{
    position: relative;
    display: block;
    height: 100%;
    border-radius: 3px;
    margin-top: auto;
    background-color: #406;
}

.voice_meter_light_color{
    filter: brightness(3);
}

.voice_meter_bar_smooth{
    transition: width ease-in-out 100ms;
}

.voice_meter .voice_meter_text{
    position: absolute;
    z-index: 1;
    height: var(--voice-meter-height);
    line-height: var(--voice-meter-height);
    top: 0;
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
    user-select: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.voice_meter .voice_meter_text_light{
    color: black;
}

.locked_meter{
    color: red;
}