.notification button,
.notification_file_button {
    background: var(--top-color);
    padding: 0.5rem;
    border: solid 1px #333;
    margin: 0.5rem;
    cursor: pointer;
    border-radius: var(--notification-border-radius);
    font-size: var(--notification-font-size);
    min-width: fit-content;
    transition: transform 0.1s ease;
}


.notification button:active,
.notification_file_button:active {
    transform: scale(var(--active-scale));
}

.notification .green_button {
    color: green;
    border-color: green;
}