.notification button{
    background: var(--top-color);
    padding: 0.5rem;
    border: solid 1px #333;
    margin: 0.5rem;
    cursor: pointer;
    border-radius: var(--notification-border-radius);
    font-size: var(--notification-font-size);
    min-width: fit-content;
}