.notification_input_wrapper
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
}

input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.notification input[type='number']{
    display: block;
    background: var(--top-buttons-color);
    border: solid 1px #333;
    font-size: 1em;
    padding: var(--notification-border-radius);
    border-radius: var(--notification-border-radius);
    width: 5rem;
    -moz-appearance: textfield;
}

.notification_slider_wrapper{
    display: flex;
    justify-content: space-between;
    margin: 0.5rem;
}

.notification_slider_wrapper label{
    margin-right: 2rem;
}

.notification_slider_wrapper .settings_visual_wrapper{
    margin: 0 !important;
}

.notification_slider_wrapper .settings_slider_wrapper{
    width: auto !important;
}
