@import "buttons.css";
@import "texts.css";
@import "inputs.css";
@import "progresses.css";
@import "toggles.css";

.notification_field{
    position: absolute;
    padding: 0;
    width: 100%;
    display: flex;
    margin: 1rem 0 0;
    align-items: baseline;
    justify-content: center;
}

.notification {
    --notification-border-radius: var(--primary-border-radius);
    --notification-font-size: 1.3rem;
    position: absolute;
    background: var(--top-color);
    color: var(--font-color);
    border: solid 1px #333;
    border-radius: var(--notification-border-radius);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-size: large;
    z-index: var(--top-index);
    left: 50%;
    transform: translate(-50%, -5rem);
    transition: transform 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    box-shadow: #333 0 0 10px;
    width: max-content;
    max-width: 100%;
}

.notification.drop{
    opacity: 1;
    transform: translate(-50%, 0);
}

.notification .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px #555;
    align-items: center;
}

.notification h2{
    text-align: start;
    line-height: 2rem;
    margin: 1rem;
}

.notification_content{
    margin: 1rem;
    min-width: 90%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
}

.notification .close_btn{
    text-align: end;
    font-weight: bolder;
    font-size: 2rem;
    margin-right: 1rem;
}

.notification .close_btn:hover{
    cursor: pointer;
}