* {
    font-family: "Noto Sans Light", "Open Sans Light", sans-serif;
    color: #ccc;
    font-size: 1.1rem;
}

button {
    background: #444;
    border: solid #555;
    padding: 0.5rem;
    border-radius: 1rem;
    cursor: pointer;
    margin: 0.3rem;
    display: inline-block;
}

button:hover {
    filter: brightness(1.1);
}

button:active {
    transform: scale(0.9);
}

canvas {
    width: 100%;
    min-height: 0;
    max-height: 40vh;
}

input[type='range'] {
    width: 100%;
}

body {
    background: #111;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 100vh;
}

.example_content {
    width: 80%;
    background: #333;
    padding: 5em;
    margin: 1rem;
    border-radius: 1rem;
    box-shadow: black 0 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}