
#keyboard {
    display: flex;
    flex-wrap: nowrap;
    align-items: stretch;
    height: 7.5vw;
}
#keyboard .key
{
    flex: 1;
    transition: transform 0.1s ease;
    border-radius: 0 0 4px 4px;
    height: 100%;
    position: relative;
    user-select: none;
    transform-origin: center top;
}

#keyboard .flat_key{
    background-color: #fff;
    z-index: 1;
    --flat-half-width: 1.4;
    --flat-half-translate: 18%;
}

#keyboard .sharp_key{
    --sharp-transform: scale(1, 0.7);
    transform: var(--sharp-transform);
    z-index: 10;
    background-color: #000;
}

#keyboard .flat_key.between_sharps{
    --flat-between-transform: scale(1.9, 1);
    transform: var(--flat-between-transform);
}

#keyboard .flat_key.left_sharp{
    --flat-left-transform: scale(var(--flat-half-width), 1) translateX(calc(var(--flat-half-translate) * -1));
    transform: var(--flat-left-transform);
}

#keyboard .flat_key.right_sharp{
    --flat-right-transform: scale(var(--flat-half-width), 1) translateX(var(--flat-half-translate));
    transform: var(--flat-right-transform);
}

.sharp_key.pressed{
    transform: var(--sharp-transform) matrix3d(1,0,0.00,0,0.00,1,0.00,0.0007,0,0,1,0,0,0,0,1) !important;
}

.flat_key.between_sharps.pressed{
    transform: var(--flat-between-transform) matrix3d(1,0,0.00,0,0.00,1,0.00,0.0007,0,0,1,0,0,0,0,1) !important;
}

.flat_key.left_sharp.pressed{
    transform: var(--flat-left-transform) matrix3d(1,0,0.00,0,0.00,1,0.00,0.0007,0,0,1,0,0,0,0,1) !important;
}

.flat_key.right_sharp.pressed{
    transform: var(--flat-right-transform) matrix3d(1,0,0.00,0,0.00,1,0.00,0.0007,0,0,1,0,0,0,0,1) !important;
}