#keyboard_selector
{
    position: absolute;
    top: 0;
    right: 0;
}

#keyboard_selector select option
{
    background-color: var(--top-color);
    text-align: center;
    line-height: 50px;
}

#keyboard_selector select
{
    display: block;
    border: none;
    font-size: 15px;
    background: var(--top-color);
    text-align: center;
    width: 100%;
}