* {
    font-family: "Courier New", Courier, monospace;
    color: #ccc;
    text-align: center;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
    background-color: black;
}
/*Top*/
.top_part
{
    --top-color: #101010;
    position: relative;
    background-color: var(--top-color);
    border-radius: 0 0 15px 15px;
    padding: 3px;
}

input[type="file"] {
    display: none;
}

#keyboard_selector
{
    position: absolute;
    top: 0;
    right: 0;
}

#keyboard_selector select option
{
    background-color: var(--top-color);
    text-align: center;
}

#keyboard_selector select
{
    display: block;
    border: none;
    font-size: 15px;
    background: var(--top-color);
    text-align: center;
    width: 100%;
}

#title_wrapper
{
    height: 2.25em;
}

#title
{
    position: relative;
    z-index: 1;
    margin: auto;
    width: max-content;
    display: block;
    line-height: normal;
}

#progress_bar
{
    background-color: #206;
    display: block;
    position: absolute;
    width: 0;
    height: 2.1em;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    transition: width ease 0.5s;
}

#file_upload {
    position: relative;
    display: block;
    width: fit-content;
    margin: auto;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #222;
    font-weight: bolder;
}

/*Center*/
#note_canvas
{
    width: 100%;
    height: 70%;
    display: block;
}
#keyboard_table
{
    width: 100%;
    height: 15%;
    border-spacing: 1px;
}
#keyboard td
{
    transition: transform 0.1s ease;
    border-radius: 4px;
    height: 100%;
    position: relative;
    user-select: none;
}

/*Bottom*/
#sequencer_controls
{
    width: 80%;
    position: relative;
    margin: auto auto 2px;

    --progress-bar-height: 1.4em;
}

#sequencer_controls #note_progress
{
    border-radius: var(--progress-bar-height);
    background-color: #406;
    height: var(--progress-bar-height);
    transition: all 100ms linear;
    position: absolute;
}

#sequencer_controls #note_time
{
    position: relative;
    z-index: 5;
    font-size: var(--progress-bar-height);
    text-align: center;
    color: #ccc;
    margin: auto;
    width: 100%;
}

#sequencer_controls #note_time:hover{
    cursor: pointer;
}

#sequencer_controls .control_buttons
{
    position: relative;
    display: inline-block;
    transition: all 0.1s ease;
}

#sequencer_controls .control_buttons:hover{
    cursor: pointer;
    transform: scale(1.2);
}

#sequencer_controls #note_progress_background
{
    border-radius: var(--progress-bar-height);
    background-color: #343434;
    height: var(--progress-bar-height);
    position: absolute;
    width: 100%;
}

#note_killer
{
    background: #000;
    position: absolute;
    left: 5px;
    bottom: 5px;
    border: 1px #333 solid;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    display: none;
}
#note_killer:hover
{
    cursor: pointer;
}