@font-face {
    font-family: "Sans";
    src: url("../OpenSans-Light.ttf");
}

* {
    font-family: "Sans", serif;
    color: #ccc;
    text-align: center;
    margin: 0;
}
html, body {
    height: 100%;
    width: 100%;
    background-color: black;
    overflow-y: hidden;
}
/*Top*/
.top_part
{
    --top-color: #101010;
    position: relative;
    background-color: var(--top-color);
    border-radius: 0 0 15px 15px;
    padding: 3px;
}

#title_wrapper
{
    display: inline-block;
    width: fit-content;
}

input[type="file"] {
    display: none;
}

#title
{
    position: relative;
    z-index: 1;
    margin: 0.2em auto;
    width: max-content;
    display: block;
    line-height: 100%;
    font-weight: lighter;
    font-size: 2.1em;
}

#progress_bar
{
    background-color: #206;
    display: block;
    position: absolute;
    width: 0;
    height: 2.1em;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.4em;
    padding-top: 5px;
    padding-bottom: 5px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    transition: width ease 0.5s;
}

#file_upload {
    position: relative;
    display: block;
    width: fit-content;
    margin: auto;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #222;
    font-weight: bolder;
}

/*Center*/
#note_canvas
{
    width: 100%;
    height: 70%;
    display: block;
}

/*Bottom*/

#note_killer
{
    background: #000;
    position: absolute;
    left: 5px;
    bottom: 5px;
    border: 1px #333 solid;
    padding: 5px;
    border-radius: 5px;
    font-size: 16px;
    display: none;
}
#note_killer:hover
{
    cursor: pointer;
}