#synthetizer_controls
{
    height: 100%;
    --voice-meter-height: 2.5em;
    flex: 1;
}

#synthetizer_controls .wrapper{
    height: 80%;
    padding: 2%;
}

#synthetizer_controls .controls_wrapper{
    display: flex;
    flex-wrap: wrap;
}

#synthetizer_controls .voice_meter{
    position: relative;
    height: var(--voice-meter-height);
    flex: 1;
    cursor: not-allowed;
    border-radius: 5px;
    border: solid 1px rgba(1, 1, 1, 0.5);
    min-width: 7em;
    margin: 2px;
}

#synthetizer_controls .voice_meter.editable{
    cursor: col-resize;
}

#synthetizer_controls .voice_meter .voice_meter_bar{
    position: relative;
    display: block;
    height: 100%;
    border-radius: 3px;
    margin-top: auto;
    background-color: #406;
}

.voice_meter_bar_smooth{
    transition: width ease-in-out 100ms;
}

#synthetizer_controls .voice_meter .voice_meter_text{
    position: absolute;
    z-index: 1;
    height: var(--voice-meter-height);
    line-height: var(--voice-meter-height);
    top: 0;
    width: 100%;
    text-align: center;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    user-select: none;
}

#synthetizer_controls .channels_dropdown{
    left: 0;
    display: none;
    position: absolute;
    backdrop-filter: blur(2px) brightness(0.5);
    background-color: rgba(3, 3, 3, 0.3);
    top: 6em;
    border-radius: 15px;
    width: 100%;
    z-index: 127;
}

#synthetizer_controls .channel_controller{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}

#synthetizer_controls .wrapper:hover .channels_dropdown{
    display: block;
}

#synthetizer_controls .voice_selector{
    position: relative;
    height: var(--voice-meter-height);
    flex: 1;
    border-radius: 5px;
    border: #777 1px solid;
    margin: 2px;
    line-height: var(--voice-meter-height);
    background-color: rgba(1, 1, 1, 0.5);
    font-size: 16px;
    font-weight: bold;
}

#synthetizer_controls .voice_selector .selector_option{
    padding: 5px;
    background-color: #111;
    text-align: left;
}

#synthetizer_controls .voice_selector .selector_option:hover
{
    background-color: #222;
    cursor: pointer;

}

#synthetizer_controls .voice_selector:hover .selector_options{
    display: block;
}

#synthetizer_controls .selector_options:hover{
    display: block;
}
