#keyboard .key {
    -webkit-user-select: none;
    user-select: none;
    touch-action: none;

    flex: 1;
    transition: transform 0.1s ease, border-radius 0.5s ease;
    border-radius: 0 0 var(--key-border-radius) var(--key-border-radius);
    position: relative;
    transform-origin: center top;
    --pressed-transform-skew: 0.0007;
    --pressed-transform: matrix3d(
            1, 0, 0,
            0, 0, 1,
            0, var(--pressed-transform-skew), 0,
            0, 1, 0,
            0, 0, 0,
            1);
    cursor: default;

    /*specific key transforms*/
    --flat-half-width: 1.4;
    --flat-half-translate: 18%;
    --sharp-transform: scale(1, 0.7);

    --flat-between-transform: scale(1.9, 1);
    --flat-left-transform: scale(var(--flat-half-width), 1) translateX(calc(var(--flat-half-translate) * -1));
    --flat-right-transform: scale(var(--flat-half-width), 1) translateX(var(--flat-half-translate));
}

/*
SIDEWAYS KEYS
instead of "pressing" from top center, press and scale from center right!
*/

#keyboard.sideways .key {
    border-radius: var(--key-border-radius) 0 0 var(--key-border-radius) !important;
    transform-origin: right center !important;
    --pressed-transform: matrix3d(
            1, 0, 0,
            calc(var(--pressed-transform-skew) * -1), 0, 1,
            0, 0, 0,
            0, 1, 0,
            0, 0, 0, 1) !important;

    --sharp-transform: scale(0.7, 1) !important;

    --flat-between-transform: scale(1, 1.9) !important;
    --flat-left-transform: scale(1, var(--flat-half-width)) translateY(calc(var(--flat-half-translate) * -1)) !important;
    --flat-right-transform: scale(1, var(--flat-half-width)) translateY(var(--flat-half-translate)) !important;
}


#keyboard .flat_key {
    background: linear-gradient(90deg, #bbb, white);
    z-index: 1;
}

#keyboard .flat_dark_key {
    background: linear-gradient(100deg, #111, #000);
}

#keyboard .sharp_key {
    transform: var(--sharp-transform);
    z-index: 10;
    background: linear-gradient(140deg, #222, black);
}

#keyboard .flat_key.between_sharps {
    transform: var(--flat-between-transform);
}

#keyboard .flat_key.left_sharp {
    transform: var(--flat-left-transform);
}

#keyboard .flat_key.right_sharp {
    transform: var(--flat-right-transform);
}

.sharp_key.pressed {
    transform: var(--sharp-transform) var(--pressed-transform) !important;
}

.flat_key.between_sharps.pressed {
    transform: var(--flat-between-transform) var(--pressed-transform) !important;
}

.flat_key.left_sharp.pressed {
    transform: var(--flat-left-transform) var(--pressed-transform) !important;
}

.flat_key.right_sharp.pressed {
    transform: var(--flat-right-transform) var(--pressed-transform) !important;
}